# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Programming\Snake_With_AI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
